* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: black;
    color: white;
  }

  header {
    display: flex;
    justify-content: center;
    padding: 2px;
    font-family: kaushan;
  }

  .ayam {
  font-family: retro_loveregular;
  }

  .container {
    background-color: antiquewhite;
    width: auto;
    height: auto;
  }

  .container-product-satu {
    background-color: white;
  }
  /* .product-satu {
    height: 300px;
  } */
  .img-product-satu {
    background-color: #333;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nnowrap;
    font-family: retro_loveregular, sans-serif;
  }

  .container-product-dua {
    background-color: black;
    height: 100px;
    display: flex;
  }

  .product-dua img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
  }

  .cover {
    width: 100%;
    min-height: 230px;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .bagian-1 {
    background-image: url(img/Tomyam.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bagian-2 {
    background-image: url(img/mochi.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bagian-1 p {
    position: absolute;
    color: rgb(255, 255, 255);
    text-shadow: 6px 5px rgb(185, 80, 20);
    font-size: 650%;
  }
  .bagian-2 p {
    position: absolute;
    color: rgb(241, 250, 255);
    text-shadow: 5px 5px rgb(45, 163, 172);
    font-size: 650%;
  }
  
  .item-satu {
   position: absolute;
   right: 10%;
   
   width: 100px;
   border-radius: 100%;
   
  }


  footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
  }    


